@use 'variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
//!Universal styles
@mixin logo-size {
  width: 120px;
  height: 20px;
}

@mixin btn-cta {
  //150px
  //32px LR padding
}

@mixin btn {
  radius: 4px; //all corners
}

//!Mobile Styles
@mixin mobile-img-styles {
  display: block;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  height: auto;
  max-width: 120px;
}

//Mobile: Headline Spacing
@mixin mobile-headline-spacing {
  padding-top: 24px;
  padding-bottom: 16px;
}

//Mobile: Spacing between Components without a headline
@mixin mobile-component-spacing {
  padding: 16px;
}

//Mobile: Header and Section Header Styles
@mixin pageHeader-sectionHeader-styles {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  width: 100%;
}

//subheader section
@mixin subheader-styles {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

//!Shared: Tablet and Desktop styles
//Shared Padding
@mixin larger-headline-spacing {
  padding-top: 48px;
  padding-bottom: 36px;
}
//
@mixin larger-component-spacing {
  padding: 36px;
}

//!Tablet Styles

//!Desktop Styles
