@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

@font-face {
  font-family: 'Avenir Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf');
}

// Defined Styles
html,
body {
  padding: 0rem;
  margin: 0;
  font-family: 'Avenir Regular', sans-serif;
  display: block;
}

.header {
  background-color: $bandsite-black;
  width: 100%;
  padding: 0;
  margin: 0;

  &__logo {
    @include mobile-img-styles;
    @include logo-size;
  }

  &__nav {
    color: $white;
  }

  ul {
    padding-left: 0;
  }

  &__list {
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
  }

  &--item:first-of-type {
    justify-content: flex-start;
  }

  &--item:last-of-type {
    justify-content: flex-end;
  }
}
